.navbar {
  display: flex;
  justify-content: center;
  padding: 30px 50px;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
}

.navbarContainer, .navbarContainer2 {
  height: 100%;
  width: 100%;
  max-width: 1850px;
  display: flex;
  align-items: flex-end;
}

.navbarTop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.navbarCenterTop {
  padding: 30px 0;
}

.navbarCenterBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarCenterItem {
  color: #000000;
  font-weight: 400;
  font-size: 2vw;
  margin: 0 3.4vw 1vw;
  white-space: nowrap;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}

.navbarLeft {
  flex: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbarCenter {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbarRight {
  flex: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbarBoxImage {
  width: 100%;
  max-width: 550px;
  height: auto;
}

.navbarBox {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 480px;
  padding-bottom: 70px;
}

.navbarBoxTitle {
  font-family: 'Sequel100Black-65';
  font-weight: 400;
  font-size: 3vw;
  line-height: 94.8%;
  text-align: center;
}

.navbarBoxSubTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 15px;
}

.textHighlight{
  color: #ff583d;
}

.navbarBoxButton {
  width: 100%;
  background-color: #ff583d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 31px;
  margin-top: 30px;
  border-radius: 12px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 94.8%;
  font-family: 'Sequel100Black-65';
  cursor: pointer;
}

.navbarBoxButton:active {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04);
}

.navbarBoxButton:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}


@media only screen and (max-width: 1000px) {
  .navbar {
    padding: 0 20px;
    margin: 20px 20px;
  }
  .navbarBoxImage {
    display: none;
  }
  .navbarBox {
    margin-top: 30px;
  }
  .navbarBoxTitle {
    font-size: 48px;
  }
}

